<!-- Header -->
<div class="header">
  <div class="title" (click)="switchPage('homePage')">
    <i class="fa fa-user"></i>
    Test Website
  </div>
  <ul class="menu-list">
    <li (click)="switchPage('testPageOne')">Elements</li>
    <li (click)="switchPage('testPageTwo')">Traversal</li>
    <li (click)="switchPage('testPageThree')">Bite</li>
    <li (click)="switchPage('testPageFour')">Notes</li>
    <li (click)="switchPage('testPageFive')">Switch View</li>
  </ul>
</div>

<!-- Pages -->
<div id="homePage" class="test-page">
  <h1>Home Page</h1>
</div>

<div class="test-page test-page-one">
  <test-page-one></test-page-one>
</div>

<div class="test-page test-page-two">
  <test-page-two></test-page-two>
</div>

<div class="test-page test-page-three">
  <test-page-three></test-page-three>
</div>

<div class="test-page test-page-four">
  <test-page-four></test-page-four>
</div>

<div class="test-page test-page-five">
  <test-page-five (changeView)="changeView.emit()"></test-page-five>
</div>

<button type="button"
        class="next-page-button next-page-button-right"
        [disabled]="disableRightArrow"
        (click)="arrowButtonNavigation('forward')">
  <i class="fas fa-arrow-right"></i>
</button>

<button type="button"
        class="next-page-button next-page-button-left"
        [disabled]="disableLeftArrow"
        (click)="arrowButtonNavigation('backward')">
  <i class="fas fa-arrow-left"></i>
</button>