.title {
  color: darkorange;
  font-size: 8rem;
}

.action-button-container {
  top: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-button {
  background-color: darkorange;
  top: 60%;
  width: 175px;
  height: 50px;
  font-size: 25px;
  border: none;
  color: white;
  font-weight: bold;
  transition: all 0.2s;
  outline: 0;
  z-index: 1;
  margin-right: 20px;
}

.action-button:hover {
  color: black;
}

.action-button:active {
  transform: translateY(3px);
}

.action-button:disabled {
  background-color: slategray;
}

.action-button:disabled:hover {
  color: white;
}

.note-title {
  opacity: 0;
  color: black;
  /* color: darkorange; */
  font-size: 4rem;
  font-weight: 600;
  top: 54%
}

.note-title-icon {
  font-size: 55px;
  margin-top: -15px;
  margin-left: 18px;
  position: absolute;
}

.note-container {
  opacity: 0;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border: 5px solid darkorange;
  width: 50%;
  height: 23%;
  overflow: auto;
}

.note-text {
  top: 65%;
  line-height: 2rem;
  font-size: 2rem;
  margin: 20px;
  text-align: justify;
  text-transform: none;
}

/*FLEXBOX CSS*/
/*.button-container {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.note-dot {
  width: 150px;
  height: 150px;
  margin: 1em;
  border: 9px solid;
  border-radius: 50%;
  transition: all 0.2s
}

.note-dot:hover {
  transform: scale(1.2);
  z-index: 1;
}

.note-dot-aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
}*/

/* .selected-note {
  transform: scale(1.2);
  z-index: 1;
} */

.dot:hover {
  transform: scale(1.2);
  z-index: 1;
}

.position-container {
  top: 35%;
  left: 50%;
  height: 30%;
  width: 50%;
  /* border: 5px solid black; */
}

.position1 {
  top: 3%;
  left: 3%;
}

.position2 {
  top: 3%;
  left: 25%;
}

.position3 {
  top: 3%;
  left: 45%;
}

.position4 {
  top: 3%;
  left: 65%;
}

.position5 {
  top: 3%;
  left: 85%;
}

.position6 {
  top: 60%;
  left: 3%;
}

.position7 {
  top: 60%;
  left: 25%;
}

.position8 {
  top: 60%;
  left: 45%;
}

.position9 {
  top: 60%;
  left: 65%;
}

.position10 {
  top: 60%;
  left: 85%;
}

button .fa, button .fab, button .fas {
  font-size: 65px;
}

.modalbody {
  background-color: white;
  border-color: transparent;
}

.form-table {
  display: inline-table;
  vertical-align: top;
}

.form-tr {
  display: table-row;
}

.form-td {
  display: table-cell;
  padding: 8px;
  margin: 3px;
}

.note-cell {
  padding: 0px 8px 0px 8px;
  margin: 8px 3px 18px 3px;
}

textarea {
  width: 652px;
  height: 116px;
}

.modal-dot {
  height: 190px;
  width: 190px;
  border: 9px solid;
  border-radius: 50%;
  transition: all 0.2s;
}

.color-picker {
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  width: 25px;
  height: 25px;
  border: 1px solid;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.icon-dropdown-item {
  width: 24px;
  position: absolute;
  top: 2px;
  font-size: 22px;
}

.icon-text-dropdown-item {
  font-size: 14px;
  float: right;
  margin-top: 4px;
}

.selected-icon-dropdown-item {
  width: 16px;
  vertical-align: middle;
  font-size: 16px;
}

.selected-icon-text-dropdown-item {
  vertical-align: middle;
  margin-left: .5em;
}

.place-holder-icon {
  color: limegreen;
  font-size: 50px !important;
}

.page-message {
  display: table;
  margin: 8px auto;
  width: 65%;
}