<!-- With splash page -->
<app-splashpage *ngIf="!showMainPage && !showAlternateView"
                (showMainPage)="showMainPage = true"
                (hideMainPage)="showMainPage = false">
</app-splashpage>

<app-main *ngIf="showMainPage"
            (navigateToGreenPage)="showGreenPage = true"
            (changeView)="switchView('alternate')">
</app-main>

<green-page *ngIf="showGreenPage" (goHome)="showGreenPage = false"></green-page>

<!-- Alternate view -->
<alternate-view *ngIf="showAlternateView" (changeView)="switchView('main')"></alternate-view>


