<!-- With splash page -->
<!--<app-splashpage *ngIf="!showMainPage"
                (showMainPage)="showMainPage = true"
                (hideMainPage)="showMainPage = false">
</app-splashpage>-->

<!--<app-main *ngIf="showMainPage"
          (navigateToGreenPage)="showGreenPage = true">
</app-main>-->


<!-- Without splash page -->
<!--<app-main (navigateToGreenPage)="showGreenPage = true"></app-main>

<green-page *ngIf="showGreenPage" (goHome)="showGreenPage = false"></green-page>-->


<!-- Alternate view -->
<alternate-view></alternate-view>


